.exam-color {
  background-color: var(--Color-red-200);

  & .defaultModal {
    max-width: auto;
    min-width: auto;
    max-height: auto;

    & p {
      margin-top: var(--gap-m);
    }

    & .modal__buttons {
      .btn {
        width: 68px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.modes_page_container--button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-xxl);
}

.exam-available {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.timer {
  font-weight: bold;
}