.modes_page_container {
  padding: var(--gap-xs) var(--gap-xs);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  height: auto;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr repeat(2, minmax(500px, 600px));
  grid-template-areas:
    "head"
    "entry"
    "auxSection"; */

  gap: var(--gap-s);
  overflow-y: hidden;
}

.entry__container {
  height: 700px;
}

.practice__section_2 {
  height: 600px;
}

.shortcut__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
}

.wrapper-center {
  justify-content: center;
  align-items: center;
}

.section_2__tab_buttons {
  display: flex;
  height: auto;

  .btn__tabs {
    font-size: var(--text-mobile-small);
  }
}

@media (width > 769px) {
  .modes_page_container {
    /* grid-template-rows: 0.1fr auto auto;
    grid-template-areas:
      "head"
      "entry"
      "auxSection";
    padding: var(--gap-xs); */
    display: flex;
    flex-direction: column;
    height: 150vh;
  }

  .entry__container {
    height: 100%;
  }

  .section_2__tab_buttons {
    height: 48px;

    .btn__tabs {
      font-size: var(--text-desktop-small);
    }
  }

}

@media (width > 1080px) {

  .modes_page_container {
    height: calc(100dvh - 70px);
    display: grid;
    overflow: hidden;
    overflow: hidden;
    grid-template-columns: minmax(550px, 1fr) minmax(450px, 1fr);
    grid-template-rows: 0.02fr 1fr;
    grid-template-areas:
      "head head"
      "entry auxSection"
  }
}

@media (width > 1280px) {

  .modes_page_container {
    overflow: hidden;
    grid-template-columns: minmax(550px, 1fr) minmax(450px, 1fr);
    grid-template-rows: 0.02fr 1fr;
    grid-template-areas:
      "head head"
      "entry auxSection"
  }
}

@media (with > 2800px) {

  .modes_page_container {
    padding: var(--gap-l) var(--gap-xl);
    width: 100%;
    height: calc(100dvh - 60px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 90% repeat(2, 50%);
    grid-template-areas:
      "head"
      "entry"
      "auxSection";

    gap: var(--gap-s);
    overflow-y: scroll;
  }

  .shortcut__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .wrapper-center {
    justify-content: center;
    align-items: center;
  }

  .section_2__tab_buttons {
    display: flex;
    height: 48px;
  }
}