.modes_page_container {
  padding: var(--gap-xl) var(--gap-xl);
  width: 100%;
  height: calc(100dvh - 60px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 90% repeat(2, 50%);
  grid-template-areas:
    "head"
    "entry"
    "section1"
    "section2";

  gap: var(--gap-s);
  overflow-y: scroll;
}

.shortcut__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
}

.wrapper-center {
  justify-content: center;
  align-items: center;
}

@media (width > 769px) {
  .modes_page_container {
    background-color: red;
    grid-template-rows: 0.1fr 90% repeat(2, 50%);
    grid-template-areas:
      "head"
      "entry"
      "section1"
      "section2";
    padding: var(--gap-xs);
  }


}

#root {
  height: 100%;


}


@media (width > 1080px) {

  .modes_page_container {
    height: calc(100dvh - 70px);
    overflow: hidden;
    grid-template-columns: minmax(550px, 900px) minmax(450px, 1fr);
    grid-template-rows: 0.05fr 1.2fr 1fr;
    grid-template-areas:
      "head head"
      "entry section1"
      "entry section2";
  }
}

@media (width > 1280px) {

  .modes_page_container {
    overflow: hidden;
    grid-template-columns: minmax(550px, 900px) minmax(450px, 1fr);
    grid-template-rows: 0.05fr 1.2fr 1fr;
    grid-template-areas:
      "head head"
      "entry section1"
      "entry section2";
  }
}