.aux-section_two__container {
  grid-area: section1;
  background-color: var(--Color-White);
  border-radius: var(--r-xxs);
  box-shadow: var(--box-shadow-M3);
  width: 100%;
  padding: var(--gap-m);
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.section-two_loader {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--gap-m);
  margin-bottom: var(--gap-xs);

  & label {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--gap-xxxs);
  }

  & input {
    margin: 0;
  }


}

.ledger_labels {
  width: 40%;
}

.ledger_labels--small {
  width: 25%;
}

.help_secction_tittle {
  font-size: var(--text-mobile-subtitles-2);
}

.ledger {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px var(--Color-grey-200);
  padding-bottom: var(--gap-xs);
  text-transform: capitalize;
}

.ledger_container {
  height: 140px;
}

.label_result {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--gap-xs);

  & input {
    width: 100px;
    height: 40px;
    margin: 0;
  }
}

.statement-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-xs);

  & .statement-button {
    width: 64px;
    background-color: var(--Color-grey-100);
    border-radius: var(--r-xs);
    cursor: pointer;
    box-shadow: var(--box-shadow-btn);
  }

  & .statement-button.selected {
    background-color: var(--Color-green-600);
    border: solid 1px var(--Color-green-800);
  }

  & .statement-button.visited {
    background-color: var(--Color-green-300);
  }
}

.statement-detail {
  padding: var(--gap-xs) var(--gap-xs) var(--gap-xs) 0;

  & .statement-detail__title {
    font-size: var(--text-mobile-subtitles-1);
    padding-bottom: var(--gap-xs);
  }

  & p {
    padding-bottom: var(--gap-xxs);
  }
}