.account__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-bottom: var(--gap-m);
  gap: var(--gap-xl);

  & .search-bar--acc {
    width: 50%;
  }
}

.account__accList--item {
  padding: var(--gap-s);
  margin-bottom: var(--gap-s);
  border-bottom: 1px solid var(--Color-grey-200);
  border-radius: var(--border-radius);
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-s);
  width: 100%;
}

.account__header--h2 {
  font-size: var(--text-desktop-subtitles-2);
  align-self: self-start;
  font-weight: bold;
}

.account__header--h4 .title {
  padding: var(--gap-s);
}

.account__header--h4 .details {
  text-align: center;
}

.account__input {
  width: auto;
  padding: 0.6rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 0;
}

.account__input.descrip {
  height: 150px;
}

.account__form .account__input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.account__input--filter {
  display: flex;
  justify-content: left;
  padding-bottom: var(--gap-s);
}

.account__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--gap-xs);
  overflow-y: scroll;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: left;

  & table {
    width: 100%;
  }
}

.account__page th {
  color: var(--Color-Principal);
  border-bottom: solid 1px var(--Color-Principal);
  padding: var(--gap-xs) 0;
  margin: var(--gap-xs);

  & i {
    font-size: x-large;
  }
}

.account__button {
  padding: var(--gap-s) var(--gap-m);
  background-color: var(--Color-Principal);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.account__button--link {
  padding: var(--gap-s) var(--gap-m);
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.account__button--link.pencil:hover,
.account__button--link.inter:hover {
  color: var(--Color-Principal-claro);
}

.account__button--link.pencil,
.account__button--link.inter,
.account__button--remove.trash {
  margin-right: 8px;
  color: var(--Color-Principal);
  font-size: var(--text-desktop-body-small);
}

.account__button--remove {
  display: flex;
  align-items: center;
  margin-left: 8px;
  padding: 4px 8px;
  color: var(--Color-grey-400);
  border: none;
  cursor: pointer;
  font-size: var(--text-desktop-small);
  background: none;
  transition: color 0.3s;
}

.account__button--remove:hover {
  color: var(--Color-red-400);
}

.account__button--edit {
  display: flex;
  align-items: center;
  font-size: var(--text-desktop-small);
  transition: color 0.3s;
  background-color: var(--Color-Principal);
  color: white;
}

.account__form {
  max-width: 50%;
  margin-top: var(--gap-s);
  padding: var(--gap-s);
  border-radius: var(--border-radius);
}

.account__form--row {
  display: flex;
  gap: 12px;
  align-items: center;
}

.account__form--group {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: var(--gap-m);
}

.account__form--group.full-width {
  flex: 100%;
}

.account__form--add {
  margin-top: var(--gap-l);
  display: flex;
  justify-content: center;
}

.account__form--actions {
  display: flex;
  width: 100%;
}

.account__table--actions {
  display: flex;
  font-family: inherit;
  justify-content: left;
}

.account__pagination {
  padding-left: var(--gap-m);

  & span {
    padding: var(--gap-s);
    color: var(--Color-Principal);
  }
}

.account__form--actions.details {
  gap: 12px;
}

.btn.account__button--back {
  background-color: #fff;
  color: var(--Color-Principal);
  border: var(--Color-grey-200) 1px solid;
}

.btn.account__button--back:hover {
  color: var(--Color-Principal-claro);
  background-color: #fff;
  border: var(--Color-Principal-claro) 1px solid;
}

.account__error {
  color: var(--Color-red-400);
  text-align: center;
  margin-top: var(--gap-m);
}

.account__tbody {
  height: 100%;

  & tbody {
    height: 100%;
  }

  & .fi-rr-angle-small-down {
    color: var(--Color-grey-800);
    align-items: center;
    font-size: large;
  }
}

.account__accList::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.account__accList::-webkit-scrollbar-thumb {
  background: transparent;
}


/* Media Queries */

/* Tablet (768px) */
@media (max-width: 768px) {
  .account__header--h4 {
    margin-bottom: var(--gap-m);
    font-size: var(--text-mobile-lead);
  }

  .account__accList--item {
    flex-direction: column;
    text-align: center;
  }

  .account__table {
    margin-top: 16px;
  }

  .account__button {
    padding: var(--gap-xs);
  }

  .account__button--link.inter,
  .account__button--link.pencil,
  .account__button--remove.trash {
    font-size: var(--text-mobile-body-small);
  }
}

/* Móvil (360px) */

@media (max-width: 360px) {
  .account__header--h4 {
    margin-bottom: var(--gap-s);
    font-size: var(--text-mobile-lead);
  }

  .account__button--link.inter,
  .account__button--link.pencil,
  .account__button--remove.trash {
    font-size: var(--text-mobile-body-small);
  }

  .account__form {
    padding: var(--gap-xs);
    width: 100%;
    font-size: var(--text-mobile-body-small);
  }

  .account__input--filter {
    flex-direction: row;
    width: 100%
  }

  .account__tbody {
    font-size: var(--text-mobile-small);
  }
}