.account__accList {
  padding-top: var(--gap-s) var(--gap-s) var(--gap-s);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.account__accList--item {
  padding: var(--gap-s);
  margin-bottom: var(--gap-s);
  border-bottom: 1px solid var(--Color-grey-200);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-s);
  width: 100%;
}

.account__header--h4 {
  font-size: var(--text-desktop-subtitles-2);
  font-weight: bold;
  margin-bottom: var(--gap-m);
}

.account__header--h4 .title {
  padding: var(--gap-s);
}

.account__header--h4 .details {
  text-align: center;
}

.account__input {
  width: auto;
  padding: 0.6rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 0;
}

.account__input.descrip {
  height: 150px;
}

.account__form .account__input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.account__input--filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--gap-s);
  border-bottom: solid 1px var(--Color-grey-200);
}

.account__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--gap-xs);
  overflow-y: scroll;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;

  & table {
    width: 100%;
  }
}

.account__button {
  padding: var(--gap-s) var(--gap-m);
  background-color: var(--Color-Principal);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.account__button--link {
  padding: var(--gap-s) var(--gap-m);
  background-color: transparent;
  color: var(--Color-grey-400);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.account__button--link:hover {
  color: var(--Color-grey-900);
}

.account__button--link.pencil,
.account__button--link.inter,
.account__button--remove.trash
{
  margin-right: 8px;
  font-size: 1.2rem;
}

.account__button--remove {
  display: flex;
  align-items: center;
  margin-left: 8px;
  padding: 4px 8px;
  color: var(--Color-grey-400);
  border: none;
  cursor: pointer;
  font-size: var(--text-desktop-small);
  background: none;
  transition: color 0.3s;
}

.account__button--remove:hover {
  color: var(--Color-red-400);
}

.account__button--edit {
  display: flex;
  align-items: center;
  font-size: var(--text-desktop-small);
  transition: color 0.3s;
  background-color: var(--Color-Principal);
  color: white;
}

.account__form {
  position: static;
  padding: var(--gap-xl);
  border-radius: var(--border-radius);
  max-width: 800px;
  margin: 0 auto;
}

.account__form--row {
  display: flex;
  gap: 12px;
}

.account__form--group {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.account__form--group.full-width {
  flex: 100%;
}

.account__form--actions {
  display: flex;
  justify-content: center;
  font-family: inherit;
  & .account__button {
    margin-top: 16px;
  }
}

.account__form--actions.details {
  gap: 12px;
}

.btn.account__button--back {
  background-color: #fff;
  color: var(--Color-Principal);
  border: var(--Color-grey-200) 1px solid;
}

.btn.account__button--back:hover {
  color: var(--Color-Principal-claro);
  background-color: #fff;
  border: var(--Color-Principal-claro) 1px solid;
}

.account__error {
  color: var(--Color-red-400);
  text-align: center;
  margin-top: var(--gap-m);
}

.account__tbody {
  height: 100%;
  & tbody {
    height: 100%;
  }
}

.account__accList::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.accounting__accList::-webkit-scrollbar-thumb {
  background: transparent;
}


/* Media Queries */

/* Tablet (768px) */
@media (max-width: 768px) {
  .account__header--h4 {
    margin-bottom: var(--gap-m);
    font-size: var(--text-mobile-lead);
  }

  .account__accLlist-item {
    flex-direction: column;
    text-align: center;
  }

  .account__table {
    margin-top: 16px;
  }

  .account__button {
    padding: var(--gap-xs);
  }

  .account__button--remove.trash {
    font-size: var(--text-mobile-body-small);
  }
}

/* Móvil (360px) */

@media (max-width: 360px) {
  .account__header--h4 {
    margin-bottom: var(--gap-s);
    font-size: var(--text-mobile-lead);
  }

  .account__button--remove.trash {
    font-size: var(--text-mobile-body-small);
  }

  .account__form {
    padding: var(--gap-xs);
    width: 100%;
    font-size: var(--text-mobile-body-small);
  }

  .account__input--filter {
    flex-direction: row;
    width: 100%
  }
}