.class-group-page {
  padding: var(--gap-s);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1.2fr;
  grid-template-areas:
    "title title "
    "form preview"
    "list list";
  overflow: hidden;
  gap: var(--gap-s);
}


/* HEADER */
.class-group-page__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-s);
  padding: 0;
}

.class-group-page__title h1 {
  font-size: var(--text-desktop-lead);
}


.class-group-page__form {
  grid-area: form;
  padding: var(--gap-s);
  border-radius: var(--r-xs);
  background-color: var(--Color-White);
  box-shadow: var(--box-shadow-btn);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: width 0.3s ease-in-out;

  & input {
    margin-bottom: 0;
  }
}

.class-group-page__h2 {
  margin-bottom: var(--gap-xs);
}

.class-group-page__form--form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.class-group-page__form--row {
  display: flex;
  width: 100%;
  gap: var(--gap-m);
}

.class-group-page__first-row {
  flex: 1;
}

.class-group-page__second-row {
  width: 25%;
}

.class-group-page__input {
  width: 100%;
  padding: var(--gap-xs);
  border: 1px solid var(--Color-grey-200);
  border-radius: var(--r-xs);
  font-size: var(--text-desktop-small);
  font-family: var(--font-family);
}

.class-group-page__form--button-container {
  margin-top: var(--gap-m);
  align-self: flex-start;
  display: flex;
  gap: var(--gap-s);
}

.form-row {
  display: flex;
  gap: var(--gap-m);
  flex-wrap: wrap;
}

.class-group-row {
  display: flex;
  gap: var(--gap-m);
  align-items: center;
  width: 100%;
}

.class-group-list__pagination {
  padding-left: var(--gap-m);

  & span {
    padding: var(--gap-s);
    color: var(--Color-Principal);
  }
}

.form-row__sub-group {
  width: 100%;
  display: flex;
  gap: var(--gap-m);
  align-items: end;
}


.form-group {
  display: flex;
  flex-direction: column;
}

.form-group--small {
  flex: 1 1 15%;
}

.form-group--medium {
  flex: 1 1 25%;
}

.form-group--full {
  flex: 1 1 100%;
}

/* LISTA */
.class-group-page__list {
  grid-area: list;
  padding: var(--gap-s);
  border-radius: var(--r-xs);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  background-color: var(--Color-White);
  box-shadow: var(--box-shadow-btn);
  overflow: hidden;
}

.class-group-page__list-content {
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
  padding-right: var(--gap-xs);
}

.class-group-page-item.header {
  position: sticky;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--Color-White);
  z-index: 10;
  font-weight: bold;
  border-bottom: 2px solid var(--Color-grey-300);
}

.class-group-page-item {
  display: flex;
  gap: var(--gap-xxs);
  padding: var(--gap-xxs) 0;
  border-bottom: 1px solid var(--Color-grey-200);
  border-radius: var(--r-xxs);
  width: 100%;
}

.class-group-page_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-group-page_section:first-child {
  flex: 0 0 80%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}

.class-group-page_section:last-child {
  flex: 0 0 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap-xs);
}

.class-group-page_section p {
  margin: 0;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
}

.form-row__sub-group--left {
  width: 100%;
  display: flex;
  gap: var(--gap-m);
}

.form-row__sub-group--right {
  width: 100%;
  display: flex;
  gap: var(--gap-m);
}



/*Afecta a los inputs de sign_in */
input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .class-group-page {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: visible;

  }

  .class-group-page__form {
    width: 100%;
    max-width: none;
  }

  .form-row__sub-group {
    gap: var(--gap-s);
    width: 100%;

  }


}

@media (max-width: 768px) {

  .class-group-page {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: visible;

  }

  .form-row__sub-group {
    gap: var(--gap-s);
    width: 100%;

  }

  .form-row__sub-group--left {
    flex-direction: column;
  }

  .form-row__sub-group--right {
    flex-direction: column;
  }
}