.statement-page {
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3% 42% 55%;
  grid-template-areas:
    "statement-header statement-header"
    "statement-form statements-solutions"
    "statement-selection statement-selection";
  gap: var(--gap-l);
  padding: var(--gap-l);
  overflow: hidden;
}

.statement-page__form {
  grid-area: statement-form;
  padding: var(--gap-xl);
  border-radius: var(--border-radius);
}

.statement-page__form--form {
  padding: 0 var(--gap-l);
}

.statement-page__form--header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--Color-Neutral-White);
  font-size: var(--text-desktop-subtitles-1);
  font-weight: bold;
  padding-bottom: var(--gap-l);
}

.statement-page__form--content {
  padding-bottom: var(--gap-xxs);
}

.statement-page__list--header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--Color-Neutral-White);
  font-size: var(--text-desktop-subtitles-1);
  font-weight: bold;
  margin-bottom: var(--gap-xl);
}

.statement-page__solutions {
  grid-area: statements-solutions;
  padding: var(--gap-m);
  border-radius: var(--border-radius);
  overflow-y: auto;
  max-height: 100%;
}

.statement-page__solutions-header {
  font-size: var(--text-desktop-subtitles-2);
}

.statement-page__button--form {
  display: flex;
  align-items: center;
  padding: var(--gap-xxs) var(--gap-xs);
  background-color: var(--Color-Neutral-Dark);
  font-size: var(--text-desktop-small);
  font-weight: lighter;
  color: var(--Color-Neutral-White);
  border: none;
  border-radius: var(--r-xs);
  cursor: pointer;
  gap: var(--gap-xs);
}

.statement-page__button--form .fi {
  font-size: 1rem;
  vertical-align: middle;
  line-height: 1;
}

.statement-page__button--form:hover {
  background-color: var(--Color-Neutral-Dark);
  opacity: 0.7;
}

.statement-page__buttons--actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
  padding-top: var(--gap-xxs);
}

.statement-page__visibility--container {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
  width: auto;
  padding-bottom: var(--gap-xxs);
}

.statement-page__checkbox--visibility {
  margin: 0;
  vertical-align: middle;
}

/* Statement List */

.statement-page__selection {
  grid-area: statement-selection;
  padding: var(--gap-xl) 40px;
  border-top: 1px solid var(--Color-grey-200);
  border-radius: var(--border-radius);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}

.statement-page__selection--content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--gap-l) var(--gap-xl);
  overflow: hidden;
}

.statement-page__list{
  overflow-y: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 100%;
  flex: 1;
}

.statement-page__list-item{
  padding: var(--gap-s);
  margin-bottom: var(--gap-s);
  border-bottom: 1px solid var(--Color-grey-200);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-s);
  width: 100%;
}

.statement-page__statement-container{
  display: flex;
  flex-grow: 1;
  word-wrap: break-word;
}

.statement-page__definition{
  flex: 0 1 60%;
  /* Limita el ancho a un máximo del 50% */
  font-size: var(--text-desktop-small);
  word-wrap: break-word;
  display: flex;
  align-items: center;
}

.statement-page__definition-solution{
  font-size: var(--text-desktop-lead);
  font-weight: bold;
}

.statement-page__actions{
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  flex: 1;
}

.statement-page__actions > button {
  margin: 0;
}

.statement-page__button-text--delete {
  color: var(--Color-red-600);
}

.statement-page__button-text--delete:hover {
  color: var(--Color-red-400);
}

.statement-page__button-text {
  color: var(--Color-grey-500);
}

.statement-page__button-text:hover {
  color: var(--Color-grey-300);
}

.statement-page__actions button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-size: var(--text-desktop-small);
  cursor: pointer;
  gap: var(--gap-xs);
}


.statement-page__actions span {
  display: inline-block;
}

.statement-page__button-text{
  display: inline-block;
  margin: 0;
}

/* Header */

.statement-page__header--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap-l);
  grid-area: statement-header;
}

.statement-page__header--header .back-button {
  background: none;
  border: 1px solid var(--Color-grey-100);
  border-radius: var(--r-xs);
  font-size: var(--text-desktop-small);
  cursor: pointer;
  color: var(--Color-Neutral-Dark);
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  font-family: var(--font-family);
}

.statement-page__header--header .fi{
  display: flex;
  gap: var(--gap-xs);
  justify-content: center;
  
}

.statement-page__header--header .statement-title {
  font-size: var(--text-desktop-medium);
  color: var(--Color-Neutral-Dark);
  font-weight: lighter;
  text-align: center;
  flex: 1;
}

/* Statement Form */

.statement-page__toggle-visibility {
  display: flex;
  border: 1px solid var(--Color-grey-300);
  border-radius: 20px;
  overflow: hidden;
  width: fit-content;
}

.toggle-option {
  flex: 1;
  padding: 8px 16px;
  border: none;
  background-color: #f9f9f9;
  color: var(--Color-Neutral-Dark);
  cursor: pointer;
  font-size: var(--text-desktop-small);
  font-weight: lighter;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-option.active {
  background-color: var(--Color-grey-100);
  color: var(--Color-Neutral-Dark);
  font-weight: bold;
}

.toggle-option:not(.active):hover {
  background-color: var(--Color-grey-50);
}

.toggle-option:first-child {
  border-right: 1px solid var(--Color-grey-300); /* Línea divisoria */
}