.entry_wrapper {
  background: var(--background-color);
  padding: var(--gap-xs) var(--gap-l);
  border-radius: var(--r-xxs);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--gap-xl);
}

.entry_head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.head_tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Color-Principal);

  >p {
    font-size: var(--text-desktop-lead);
    font-weight: 600;
  }

  >.fi {
    font-size: x-large;
    margin-left: var(--gap-xs);
    display: flex;
    color: var(--Color-Principal);
  }
}

.head_data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxxl);

  >p {
    font-size: var(--text-desktop-small);
    color: var(--Color-Principal-claro);
  }
}

.entry_body_tittle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--gap-xs);
  border-bottom: solid 1px var(--Color-grey-50);
  font-size: var(--text-desktop-small);
  font-weight: 700;
  color: var(--Color-Principal);

  >p {
    margin-right: var(--gap-s);
  }
}

.tittles_container {
  display: flex;
  gap: var(--gap-xxl);
}

.entry_item_container {
  height: 326px;
  border-bottom: solid 1px var(--Color-grey-50);
  overflow-y: scroll;
  padding: var(--gap-xs) 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);


  overscroll-behavior: contain;

  &::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.entry_body {
  width: 100%;

}

.tittle_apt {
  width: 20px;
}

.tittle_account-number {
  width: 100px;
}

.tittle_account-name {
  width: 214px;
}

.tittle_debit {
  width: 98px;
}

.tittle_credit {
  width: 100px;
}