.entry_wrapper {
  background: var(--background-color);
  padding: var(--gap-xs) var(--gap-l);
  border-radius: var(--r-xxs);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--gap-xl);
  margin: 0 var(--gap-xs) 0 var(--gap-s);
}

.date_input {
  width: 140px;
  height: 36px;
  margin: 0px;
}

.entry_head {
  display: flex;
  width: 100%;
  height: 36px;
  justify-content: space-between;
  align-items: center;
}

.head_tittle {
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--Color-Principal);
  width: 65%;
  cursor: pointer;

  >p {
    font-size: var(--text-desktop-lead);
    font-weight: 600;
  }

  >.fi {
    font-size: x-large;
    margin-left: var(--gap-xs);
    display: flex;
    color: var(--Color-Principal);
  }
}

.head_data {
  width: 35%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: var(--gap-xxxl);


  >.entry_total {
    width: auto;
    font-size: var(--text-desktop-small);
    color: var(--Color-Principal);
    cursor: default;
  }
}

.entry_body {
  width: 100%;
  container-type: inline-size;
  container-name: parent;
}

.entry_body_tittle {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  padding-bottom: var(--gap-xs);
  border-bottom: solid 1px var(--Color-grey-50);
  font-size: var(--text-desktop-small);
  font-weight: 700;
  color: var(--Color-Principal);

  @container parent (width < 809px) {
    flex-direction: column-reverse;
    align-items: start;
    gap: var(--gap-s);
  }
}

.entry_add_annotation {
  margin-top: var(--gap-xs);
}

.header_container {
  display: flex;
  gap: var(--gap-xxl);

  @container parent (width < 809px) {
    gap: var(--gap-xxl);
  }

  @container parent (width < 609px) {
    gap: var(--gap-m);
  }
}

.tittles_wrapper {
  display: flex;
  gap: var(--gap-xxl);

  @container parent (width < 809px) {
    gap: var(--gap-xs);
  }

  @container parent (width < 609px) {
    gap: 0;
  }
}

.entry_item_container {
  height: 280px;
  border-bottom: solid 1px var(--Color-grey-50);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: var(--gap-xs) 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);


  overscroll-behavior: contain;

}

.apt_number {
  width: 20px;
}

.tittle_account-number {
  width: 100px;

  @container parent (width < 609px) {
    width: 98px;
  }
}

.tittle_account-name {
  width: 214px;

  @container parent (width < 809px) {
    width: 158px;
  }

  @container parent (width < 609px) {
    width: 158px;
  }
}

.tittle_debit {
  width: 98px;

  @container parent (width < 809px) {
    width: 100px;
  }
}

.tittle_credit {
  width: 100px;
}