.entry_wrapper {
  background-color: var(--background-color);
  padding: var(--gap-xs) var(--gap-s);
  border-radius: var(--r-xxs);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--gap-xl);
  margin: 0;

  container-type: inline-size;
  container-name: entry_head;

  & .btn-trash {
    font-size: var(--text-mobile-large);
  }
}

.date_input {
  width: 120px;
  height: 30px;
  margin: 0px;
  font-size: var(--text-mobile-small);
}

.entry_head {
  display: flex;
  width: 100%;
  height: 36px;
  justify-content: space-between;
  align-items: center;

  @container entry_head (width < 460px) {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: auto;
    gap: var(--gap-xxs);
  }

}

.tittle_account-name--no-visible {
  display: none;
}

.head_tittle {
  display: flex;
  align-items: center;
  justify-content: left;
  color: var(--Color-Principal);
  width: 65%;
  cursor: pointer;
  container-type: inline-size;

  >p {
    font-size: var(--text-mobile-lead);
    font-weight: 600;
  }

  >.fi {
    font-size: large;
    margin-left: var(--gap-xs);
    display: flex;
    color: var(--Color-Principal);
  }

  @container entry_head (width < 460px) {
    width: 42%;
  }
}

.head_data {
  width: auto;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: var(--gap-s);


  >.entry_total {
    width: 60px;
    font-size: var(--text-mobile-small);
    color: var(--Color-Principal);
    cursor: default;
  }

  @container entry_head (width < 460px) {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: var(--gap-xxs);
  }
}

.entry_body {
  width: 100%;
  container-type: inline-size;
  container-name: parent;
}

.entry_body_tittle {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  padding-bottom: var(--gap-xs);
  border-bottom: solid 1px var(--Color-grey-50);
  font-size: var(--text-mobile-small);
  font-weight: 700;
  color: var(--Color-Principal);

  @container parent (width < 809px) {
    flex-direction: column-reverse;
    align-items: start;
    gap: var(--gap-s);
  }
}

.entry_add_annotation {
  margin-top: var(--gap-xs);
}

.header_container {
  display: flex;
  gap: var(--gap-xxl);

  @container parent (width < 809px) {
    gap: var(--gap-l);
  }

  @container parent (width < 609px) {
    gap: var(--gap-m);
  }
}

.tittles_wrapper {
  display: flex;
}

.entry_item_container {
  height: 280px;
  border-bottom: solid 1px var(--Color-grey-50);
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--gap-xs) 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);


  overscroll-behavior: contain;

}

.apt_number {
  width: 20px;

  @container parent (width < 400px) {
    width: 16px;
  }
}

.tittle_account-number {
  width: 116px;

  @container parent (width < 809px) {
    width: 112px;
  }

  @container parent (width < 600px) {
    width: 76px;
  }

  @container parent (width < 400px) {
    width: 80px;
  }
}



.tittle_account-name {
  width: 268px;

  @container parent (width < 809px) {
    width: 174px;
  }

  @container parent (width < 600px) {
    width: 120px;
  }
}


.tittle_debit {
  width: 148px;

  @container parent (width < 809px) {
    width: 128px;
  }

  @container parent (width < 600px) {
    width: 78px;
  }

  @container parent (width < 400px) {
    width: 60px;
  }
}

.tittle_credit {
  width: 120px;

  @container parent (width < 809px) {
    width: 40px;
  }
}





@media (width > 480px) {
  .tittle_account-name--no-visible {
    display: inline;
  }

}

@media (width > 820px) {
  .entry_wrapper {
    .btn-trash {
      font-size: larger;
    }

  }

  .head_tittle {

    >p {
      font-size: var(--text-desktop-lead);
    }

    >.fi {
      font-size: x-large;
    }
  }


  .head_data {

    >.entry_total {
      font-size: var(--text-desktop-small);
    }
  }

  .entry_body_tittle {
    font-size: var(--text-desktop-small);

  }


}