.mark__section {
  width: 100%;
  height: 100%;
  padding: var(--gap-l) var(--gap-l);

}

.mark__title {
  font-size: var(--text-desktop-subtitles-2);
  font-weight: 700;
  padding: 0 var(--gap-xxs) var(--gap-xs) var(--gap-xxs);
}

.principalSection__img {
  width: 100%;
  height: 100%;
  background-image: url("/images/marks__img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25rem;
}

.mark_mark {
  border: solid 4px var(--Color-green-300);
  border-radius: var(--gap-xs);
  width: 60px;
  height: 60px;
  text-align: center;
  align-content: center;
  font-size: var(--text-desktop-subtitles-2);
  color: var(--Color-green-700);
  font-weight: 600;
}

.marks__wrapper {
  padding: var(--gap-xl) 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);

  overflow-y: auto;
  height: 94%;
  padding: var(--gap-xxs);

  &>.btn {
    padding: 0;
    margin: 0;
    text-align: left;
  }
}

.mark_container {
  width: 100%;
  padding: var(--gap-s) var(--gap-xl);
  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--gap-xl);
}

.mark-text_title {
  width: 85%;
  font-weight: 700;
  font-size: var(--text-desktop-body-small);
  color: var(--Color-Principal);

}

.mark_info {
  color: var(--Color-Principal-claro);
  font-size: var(--text-desktop-small);
}

.exercise_marks {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);

  padding: var(--gap-m) 0;
  border-bottom: 1px solid var(--Color-grey-100);
}


.exercise_annotations {
  display: flex;
  flex-direction: column;

  & th {
    text-align: left;
  }
}

.exercise_modal__container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  overflow-y: auto;
  max-height: 60vh;
  width: 100%;
}

.exercise_entries__container {
  margin-bottom: var(--gap-s);
  padding: var(--gap-xs) var(--gap-m);
  border-radius: var(--r-xs);
  margin-right: var(--gap-xs);
}

.exercise_modal__mark {
  width: 280px;

}

.exercise_modal__header {
  padding: var(--gap-s) 0 var(--gap-m) 0;
  border-bottom: 1px solid var(--Color-grey-100);
}

.exercise_entry__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--gap-xs);
}