.entry_header {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  padding: var(--gap-s);
  border-radius: var(--r-xxs);

  & h2 {
    font-size: var(--text-desktop-subtitles-2);
  }
}

.entry_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry_selector {
  width: 314px;
  height: 36px;
  padding: var(--gap-xxxs) var(--gap-xs);
  -webkit-appearance: none;
  -moz-appearance: none;
}