.accountingPlan__pgcList {
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accountingPlan__pgcList-item {
  padding: var(--gap-s);
  margin-bottom: var(--gap-s);
  border-bottom: 1px solid var(--Color-grey-200);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-s);
  width: 100%;
}

.accountingPlan__header--h4 {
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: var(--text-desktop-subtitles-2);
  font-weight: bold;
  margin-bottom: var(--gap-xl);
}

.accountingPlan__input {
  width: 50%;
  padding: 0.6rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.accountingPlan__input--filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountingPlan__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.accountingPlan__button {
  padding: var(--gap-s) var(--gap-m);
  background-color: var(--Color-primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-top: var(--gap-m);
}

.accountingPlan__button--edit {
  padding: var(--gap-s) var(--gap-m);
  background-color: transparent;
  color: var(--Color-grey-400);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.accountingPlan__button--remove {
  display: flex;
  align-items: center;
  margin-left: 8px;
  padding: 4px 8px;
  color: var(--Color-grey-400);
  border: none;
  cursor: pointer;
  font-size: var(--text-desktop-small);
  background: none;
  transition: color 0.3s;
}

.accountingPlan__button--remove:hover {
  color: var(--Color-red-400);
}

/* .accountingPlan__button--remove .trash {
  margin-right: 8px;
  font-size: 1.2rem;
} */

.accountingPlan__form {
  padding: var(--gap-xl);
  border-radius: var(--border-radius);
  max-width: 800px;
  margin: 0 auto;
}

.accountingPlan__form--row {
  display: flex;
  gap: 1rem;
}

.accountingPlan__form--group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.accountingPlan__form--group.full-width {
  flex: 100%;
}

.accountingPlan__form--actions {
  display: flex;
  justify-content: center;
}

/** AJUSTAR INPUTS DEL FORM (poner placeholder)
    línea separación form-lista
    botón volver Home
    Mensaje de error se muestra en la misma línea que el botón
    Importar colores para los botones e iconos
    Ventana modal para Editar (o ponerlo bonito con redireccionamiento)
    RESPONSIVE
    Mismo estilo en Accounts
**/
