.accountingPlan__pgcList {
  padding: var(--gap-s) var(--gap-s) 0 var(--gap-s);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;

  & .search-bar--pgc {
    width: 50%;
    align-self: right;
  }
}

.accountingPlan__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-bottom: var(--gap-m);
  gap: var(--gap-xl);
}

.accountingPlan__pgcList-item {
  padding: var(--gap-s);
  margin-bottom: var(--gap-s);
  border-bottom: 1px solid var(--Color-grey-200);
  border-radius: var(--border-radius);
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-s);
  width: 100%;
}

.accountingPlan__header--h2 {
  font-size: var(--text-desktop-subtitles-2);
  align-self: self-start;
  font-weight: bold;
}

.accountingPlan__header--h4 .title {
  padding: var(--gap-s);
}

.accountingPlan__header--h4.details {
  text-align: center;
}

.accountingPlan__input {
  width: auto;
  padding: 0.6rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 0;
}

.accountingPlan__input.descrip {
  height: 150px;
}

.accountingPlan__form .accountingPlan__input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.accountingPlan__input--filter {
  display: flex;
  justify-content: left;
  padding-bottom: var(--gap-s);
}

.accountingPlan__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--gap-xs);
  overflow-y: scroll;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: left;

  & table {
    width: 100%;
  }
}

th {
  border-bottom: solid 1px var(--Color-grey-200);
  padding: var(--gap-xs) 0;
  margin: var(--gap-xs);
}

.accountingPlan__button {
  padding: var(--gap-s) var(--gap-m);
  background-color: var(--Color-Principal);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.accountingPlan__button--link {
  padding: var(--gap-s) var(--gap-m);
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.accountingPlan__button--link:hover {
  color: var(--Color-grey-900);
}

.accountingPlan__button--link.pencil,
.accountingPlan__button--link.eye,
.accountingPlan__button--remove.trash {
  margin-right: 8px;
  color: var(--Color-grey-800);
  font-size: var(--text-desktop-body-small);
}

.accountingPlan__button--remove {
  display: flex;
  align-items: center;
  margin-left: 8px;
  padding: var(--gap-s) var(--gap-m);
  color: var(--Color-grey-400);
  border: none;
  cursor: pointer;
  font-size: var(--text-desktop-small);
  background: none;
  transition: color 0.3s;
}

.accountingPlan__button--remove:hover {
  color: var(--Color-red-400);
}

.accountingPlan__button--edit {
  display: flex;
  align-items: center;
  font-size: var(--text-desktop-small);
  transition: color 0.3s;
  background-color: var(--Color-Principal);
  color: white;
}

.accountingPlan__form {
  position: static;
  padding: var(--gap-xl);
  border-radius: var(--border-radius);
  max-width: 800px;
  margin: 0 auto;
}

.accountingPlan__form--row {
  display: flex;
  gap: 12px;
}

.accountingPlan__form--group {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: var(--gap-m);
}

.accountingPlan__form--group.full-width {
  flex: 100%;
}

.accountingPlan__form--add {
    margin-top: var(--gap-l);
    display: flex;
    justify-content: center;
}

.accountingPlan__form--actions {
  display: flex;
  font-family: inherit;
  justify-content: left;
}

.accountingPlan__form--actions.details {
  gap: 12px;
}

.btn.accountingPlan__button--back {
  background-color: #fff;
  color: var(--Color-Principal);
  border: var(--Color-grey-200) 1px solid;
}

.btn.accountingPlan__button--back:hover {
  color: var(--Color-Principal-claro);
  background-color: #fff;
  border: var(--Color-Principal-claro) 1px solid;
}

.accountingPlan__error {
  color: var(--Color-red-400);
  text-align: center;
  margin-top: var(--gap-m);
}

.accountingPlan_tbody {
  height: 100%;

  & tbody {
    height: 100%;
  }

  & .fi-rr-angle-small-down {
    color: var(--Color-grey-800);
    align-items: center;
    font-size: large;
  }
}

.accountingPlan__table::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.accountingPlan__table::-webkit-scrollbar-thumb {
  background: transparent;
}

.accounting-plan__form {
  max-width: 500px;
  margin: 0 auto;
}

/* Media Queries */

/* Para tablets (hasta 768px) */
@media (max-width: 768px) {
  .accountingPlan__header--h2 {
    margin-bottom: var(--gap-m);
    font-size: var(--text-mobile-lead);
  }

  .accountingPlan__pgcList-item {
    flex-direction: column;
    text-align: center;
  }

  .accountingPlan__table {
    margin-top: 16px;
  }

  .accountingPlan__button {
    padding: var(--gap-xs);
  }

  .accountingPlan_tbody {
    font-size: var(--text-mobile-body-small);
  }

  .accountingPlan__button--link.eye,
  .accountingPlan__button--link.pencil,
  .accountingPlan__button--remove.trash {
    font-size: var(--text-mobile-body-small);
  }
}

/* Para móviles (hasta 360px) */
@media (max-width: 360px) {
  .accountingPlan__header--h2 {
    margin-bottom: var(--gap-s);
    font-size: var(--text-mobile-lead);
  }

  .accountingPlan__button--link.eye,
  .accountingPlan__button--link.pencil,
  .accountingPlan__button--remove.trash {
    font-size: var(--text-mobile-body-small);
  }

  .accountingPlan__form {
    padding: var(--gap-xs);
    width: 100%;
    font-size: var(--text-mobile-body-small);
  }

  .accountingPlan__input--filter {
    flex-direction: row;
    width: 100%;
  }

  .accountingPlan_tbody {
    font-size: var(--text-mobile-small);
  }
}