.accountingPlan__pgcList {
  margin: var(--gap-s);
  padding-top: var(--gap-s);;
  border-top: 1px solid var(--Color-grey-200);;
}

.accountingPlan__pgcList-item {
  padding: var(--gap-s);
  margin-bottom: var(--gap-s);
  border-bottom: 1px solid var(--Color-grey-200);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-s);
  width: 100%;
}

.accountingPlan__header--h4 {
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: var(--text-desktop-subtitles-2);
  font-weight: bold;
  margin-bottom: var(--gap-xl);
}

.accountingPlan__header--h4.title {
  padding: var(--gap-s);
}

.accountingPlan__input {
  width: 50%;
  padding: 0.6rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 0;
}

.accountingPlan__input--filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountingPlan__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  overflow-y: scroll;
  height: calc(100vh - 680px);

  display: flex;
  justify-content: center;
  align-items: center;

  & table {
    width: 100%;
  }
}

.accountingPlan__button {
  padding: var(--gap-s) var(--gap-m);
  background-color: var(--Color-Principal);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.accountingPlan__button--edit {
  padding: var(--gap-s) var(--gap-m);
  background-color: transparent;
  color: var(--Color-grey-400);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.accountingPlan__button--edit:hover {
  color: var(--Color-grey-900);
}

.accountingPlan__button--remove.pencil {
  margin-right: 8px;
  font-size: 1.2rem;
}

.accountingPlan__button--remove {
  display: flex;
  align-items: center;
  margin-left: 8px;
  padding: 4px 8px;
  color: var(--Color-grey-400);
  border: none;
  cursor: pointer;
  font-size: var(--text-desktop-small);
  background: none;
  transition: color 0.3s;
}

.accountingPlan__button--remove:hover {
  color: var(--Color-red-400);
}

.accountingPlan__button--remove.trash {
  margin-right: 8px;
  font-size: 1.2rem;
}

.accountingPlan__form {
  position: static;
  padding: var(--gap-xl);
  border-radius: var(--border-radius);
  max-width: 800px;
  margin: 0 auto;
  height: 275px;
}

.accountingPlan__form--row {
  display: flex;
  gap: 12px;
}

.accountingPlan__form--group {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.accountingPlan__form--group.full-width {
  flex: 100%;
}

.accountingPlan__form--actions {
  display: flex;
  justify-content: center;
  & .accountingPlan__button {
    margin-top: 16px;
  }
}

.accountingPlan__form .accountingPlan__input {
  width: 100%;
  padding: 8px;
  margin-top:  5px;
}

.accountingPlan__error {
  color: var(--Color-red-400);
  text-align: center;
  margin-top: var(--gap-m);
}


/** botón volver Home
    Limpiar el formulario post add
    Ventana modal para Editar (o ponerlo bonito con redireccionamiento)
    RESPONSIVE
    Mismo estilo en Accounts
**/
