.accountingPlan__pgcList {
  padding: var(--gap-s);
  overflow-y: visible;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;

  & .search-bar--pgc {
    width: 50%;
  }
}

.accountingPlan__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: var(--gap-xxs);
  gap: var(--gap-s);
}

.accountingPlan__pgcList-item {
  padding: var(--gap-s);
  margin-bottom: var(--gap-s);
  border-radius: var(--border-radius);
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-s);
  width: 100%;
}

.accountingPlan__header--h2 {
  font-size: var(--text-desktop-subtitles-2);
  align-self: self-start;
  font-weight: bold;
}

.accountingPlan__header--h4 .title {
  padding: var(--gap-s);
}

.accountingPlan__header--h4.details {
  text-align: center;
}

.accountingPlan__input {
  width: auto;
  padding: 0.6rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 0;
}

.accountingPlan__input.descrip {
  height: 150px;
}

.accountingPlan__form .accountingPlan__input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.accountingPlan__input--filter {
  display: flex;
  justify-content: left;
  padding-bottom: var(--gap-s);
}

.accountingPlan__table--container {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--gap-xs);
  overflow-y: scroll;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: left;

  & table {
    width: 100%;
  }
}

th {
  padding: var(--gap-xs) 0;
  margin: var(--gap-xs);

  & i {
    font-size: x-large;
  }
}

.accountingPlan__button {
  padding: var(--gap-s) var(--gap-m);
  background-color: var(--Color-Principal);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.accountingPlan__button--link {
  padding: var(--gap-s) var(--gap-m);
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.accountingPlan__button--link.pencil:hover,
.accountingPlan__button--link.eye:hover,
.accountingPlan__button--link.download:hover {
  color: var(--Color-Principal-claro);
}

.accountingPlan__button--link.pencil,
.accountingPlan__button--link.eye,
.accountingPlan__button--link.download,
.accountingPlan__button--remove.trash {
  margin-right: 8px;
  color: var(--Color-Principal);
  font-size: var(--text-desktop-body-small);
}

.accountingPlan__button--remove {
  display: flex;
  align-items: center;
  margin-left: 8px;
  padding: var(--gap-s) var(--gap-m);
  color: var(--Color-grey-400);
  border: none;
  cursor: pointer;
  font-size: var(--text-desktop-small);
  background: none;
  transition: color 0.3s;
}

.accountingPlan__button--remove:hover {
  color: var(--Color-red-400);
}

.accountingPlan__form {
  border-radius: var(--border-radius);
}

.accountingPlan__form--row {
  display: flex;
  gap: var(--gap-s);
  align-items: start;
  justify-content: start;
  width: 100%;
}

.accountingPlan__form--group {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: var(--gap-m);
}

.accountingPlan__form--group.full-width {
  flex: 100%;
}

.accountingPlan__form--actions {
  margin-top: var(--gap-m);
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.accountingPlan__form--add,
.accountingPlan__form--upload {
  display: flex;
  justify-content: start;
  align-items: center;
}

.accountingPlan__form--add {
  width: 135px;
}

.accountingPlan__table--name-field {
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;


  & .fi {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 100%;
    width: 40px;
  }
}

.accountingPlan__form--upload {
  gap: var(--gap-s);
  align-items: center;
  justify-content: end;

  & .btn:nth-child(1) {
    width: 140px;
  }

  & .btn:nth-child(2) {
    width: auto;
  }
}

/* Ocultar el input file */
.accountingPlan__file--input {
  display: none;

}

/* Estilo del botón personalizado */
.accountingPlan__file--label {
  display: flex;
  cursor: pointer;

  p {
    border-right: 1px solid var(--Color-grey-200);
    padding-right: var(--gap-xs);
    width: 80px;
  }
}

.accountingPlan__file--label:hover {
  background-color: #0056b3;
}

.accountingPlan__file--name {
  font-size: var(--text-desktop-small);
  color: var(--Color-Principal-claro);
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 140px;
}

.input_csv__container {
  display: flex;
  border: 1px solid var(--Color-grey-200);
  border-radius: var(--gap-xxs);
  padding: var(--gap-xxs);
  gap: var(--gap-xs);
  justify-content: start;
  align-items: center;
}

.accountingPlan__file--input {
  width: 100%;
  margin-bottom: 0;
}

.accountingPlan__table--actions {
  display: flex;
  font-family: inherit;
  justify-content: left;
}

.accountingPlan__pagination {
  padding-left: var(--gap-m);

  & span {
    padding: var(--gap-s);
    color: var(--Color-Principal);
  }
}

.accountingPlan__form--actions.details {
  gap: 12px;
}

.accountingPlan__error {
  color: var(--Color-red-400);
  text-align: start;
  margin-top: var(--gap-xxs);
}

.accountingPlan__table {

  thead {
    tr {
      background-color: var(--Color-White);
      padding: var(--gap-l) 0;
    }
  }

  & tbody {
    height: 100%;
    overflow-y: scroll;
  }

  & .fi-rr-angle-small-down {
    color: var(--Color-grey-800);
    align-items: center;
    font-size: large;
  }
}

.accountingPlan__table--container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.accountingPlan__table--container::-webkit-scrollbar-thumb {
  background: transparent;
}

.accounting-plan__form {
  max-width: 500px;
  margin: 0 auto;
}

/* Media Queries */

/* Para tablets (hasta 768px) */
@media (max-width: 768px) {
  .accountingPlan__header--h2 {
    margin-bottom: var(--gap-m);
    font-size: var(--text-mobile-lead);
  }

  .accountingPlan__pgcList-item {
    flex-direction: column;
    text-align: center;
  }

  .accountingPlan__table--container {
    margin-top: 16px;
  }

  .accountingPlan__button {
    padding: var(--gap-xs);
  }

  .accountingPlan__table {
    font-size: var(--text-mobile-body-small);
  }

  .accountingPlan__button--link.eye,
  .accountingPlan__button--link.pencil,
  .accountingPlan__button--remove.trash {
    font-size: var(--text-mobile-body-small);
  }
}

/* Para móviles (hasta 360px) */
@media (max-width: 360px) {
  .accountingPlan__header--h2 {
    margin-bottom: var(--gap-s);
    font-size: var(--text-mobile-lead);
  }

  .accountingPlan__button--link.eye,
  .accountingPlan__button--link.pencil,
  .accountingPlan__button--remove.trash {
    font-size: var(--text-mobile-body-small);
  }

  .accountingPlan__form {
    padding: var(--gap-xs);
    width: 100%;
    font-size: var(--text-mobile-body-small);
  }

  .accountingPlan__input--filter {
    flex-direction: row;
    width: 100%;
  }

  .accountingPlan__table {
    font-size: var(--text-mobile-small);
  }
}