.create-users_wrapper {
  width: 100%;
  height: 100%;
  padding: var(--gap-s) var(--gap-xl);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--gap-xs);
  color: var(--Color-Principal);
  background-color: var(--Color-White);
  border-radius: var(--r-xs);
  box-shadow: var(--box-shadow-btn);

  & h2 {
    font-size: var(--text-desktop-subtitles-2);
    color: var(--Color-Principal);
  }
}

.create-users_form {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--gap-s);
  font-size: var(--text-desktop-body-small);
}

.create-users_fieldset {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: var(--gap-s);
  padding: 0;
  color: var(--Color-Principal);


  & .user_label {
    width: 65%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--gap-xxs);
  }

}

legend {
  font-size: var(--text-desktop-body-large);
  margin-bottom: var(--gap-xs);
  font-weight: 500;
}

.add-users__selectors-container {
  display: flex;
  gap: var(--gap-s);
}

.user_label--select {

  & select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-right: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 0;
  }
}

.user_item {
  width: 100%;
  margin: 0;
}

.createUser_submit {
  margin-top: var(--gap-m);
}

.user__input--select {
  width: auto;
  padding: 0.6rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 0;
}