.list__container {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 440px;
  padding-top: var(--gap-m);
  border: solid 1px var(--Color-grey-100);
  border-radius: var(--gap-xs);
  background-color: var(--Color-White);

  & h3 {
    padding-left: var(--gap-m);
  }
}

.user__item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--gap-m);
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--Color-White);
  color: var(--Color-principal-700);
  box-shadow: var(--box-shadow-btn);
  padding: var(--gap-xxs);
  border-radius: var(--r-xs);


  & input[type="checkbox"] {
    transform: scale(1.2);
    width: auto;
    height: auto;
    margin: 0;
  }
}

.list__items {
  margin-top: var(--gap-xs);
  padding-top: var(--gap-m);
  border-top: 1px solid var(--Color-grey-200);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  padding: var(--gap-m);
}

.task-assigned__container {
  display: flex;
  gap: var(--gap-m);

  & h3 {
    font-size: var(--text-desktop-body-large);
    font-weight: 600;
  }
}

.btn--tasks-assigned {
  margin-top: var(--gap-m);
}

.user__item--selected {
  background-color: var(--Color-principal-600);
  color: var(--Color-White);
}

::backdrop {
  background-color: black;
  opacity: 0.55;
}