.school-center-list__container {
  grid-area: list;
  height: 100%;
  overflow-y: scroll;
  padding: var(--gap-s);
  border-left: solid 1px var(--Color-grey-200);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);

}


.school-center_list {
  background-color: var(--Color-White);
  border-radius: var(--r-xxs);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
  padding: var(--gap-s);
  font-size: var(--text-desktop-tiny);
}

.school-list_item {

  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
}

.schools-centers_list {
  display: flex;
  gap: var(--gap-s);
}

.school-list_section {
  display: flex;
  justify-content: space-between;
}

.school-list__pagination {
  padding-top: var(--gap-s);
  & span {
    padding: var(--gap-s);
    color: var(--Color-Principal);
  }
}

@media (max-width: 1024px) {
  .school-center-list__container {
      border-left: none; 
  }

  .schools-centers_list {
      flex-direction: column; 
  }
}

@media (max-width: 768px) {
  .school-center-list__container {
      padding: var(--gap-xs); 
  }

  .school-list_item {
      font-size: var(--text-mobile-tiny);
      padding: var(--gap-xxs);
  }
}