.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.modal-overlay__container {
  max-width: 900px;
  min-width: 600px;
  max-height: 800px;
  background-color: var(--Color-Neutral-White);
  border-radius: var(--r-s);
  border: none;
  padding: var(--gap-m) var(--gap-xxl);
  overflow: hidden;
}

.modal-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 70vh;
}

.task-details__footer--edit-btn:hover,
.task-modal__button--close:hover {
  background-color: var(--Color-Neutral-Dark);
  opacity: 0.8;
}

.task-details {
  max-height: 70vh;
  overflow-y: auto;
}

.task-details__header {
  padding-bottom: var(--gap-xs);
}

.task-details__header--title {
  color: var(--Color-Neutral-Dark);
  font-size: var(--text-desktop-subtitles-1);
}


.task-details__statement-content {
  overflow: hidden;
  max-height: 560px;
  display: flex;
  flex-direction: column;
}

.task-details__statements-title {
  color: var(--Color-Neutral-Dark);
  font-size: var(--text-desktop-lead);
  padding-bottom: var(--gap-xxs);
}

.task-details__statements-items {
  padding: var(--gap-xs) var(--gap-xs) 0 0;
  height: 100%;
  overflow-y: auto;
}

.task-details__statement-item {
  background-color: var(--Color-grey-50);
  border-radius: var(--gap-xxxs);
  gap: var(--gap-xxs);
}

.task-details__statement-item strong {
  padding-right: var(--gap-xxs);
}

.task-details__statement-item p {
  text-align: justify;
}

.task-details__statement-item--delete-btn {
  color: var(--Color-red-500);
  padding: var(--gap-xs);
  cursor: pointer;
  border-radius: var(--r-xxs);
  font-size: var(--gap-s);
  background-color: transparent;
}

.task-details__statement-item--delete-btn:hover {
  color: var(--Color-red-300);
}

.task-details__footer {
  display: flex;
  gap: var(--gap-xs);
  padding: var(--gap-xs) 0 var(--gap-xxxs) 0;
}

.task-details__footer--edit-btn,
.task-details__footer--delete-btn {
  padding: var(--gap-xxs) var(--gap-xs);
  border-radius: var(--r-xs);
  box-shadow: var(--box-shadow-btn);
}

.task-details__footer--delete-btn {
  background-color: var(--Color-red-700);
  color: var(--Color-Neutral-White);
}

.task-details__footer--delete-btn:hover {
  background-color: var(--Color-red-600);
  opacity: 0.8;
}

.task-details__footer--edit-btn {
  background-color: var(--Color-Neutral-Dark);
  color: var(--Color-Neutral-White);
}