.entry_container {
  padding: var(--gap-xxl) var(--gap-xxxs);
  background-color: var(--Color-White);
  border-radius: var(--r-xs);
  grid-area: entry;
  display: flex;
  flex-direction: column;
  gap: var(--r-s);
  overflow-y: scroll;
  box-shadow: var(--box-shadow-M3);
  width: 100%;
}

.entry_container::-webkit-scrollbar {
  display: none;
}

.modes-entries-containner {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: var(--r-s);
}

.modes-entries-container--buttons {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-s);
  padding: var(--gap-s) var(--gap-xxl) var(--gap-s) var(--gap-l);
}