.entry__container {
  padding: var(--gap-l) var(--gap-m);
  background-color: var(--Color-White);
  border-radius: var(--r-xs);
  grid-area: entry;
  display: flex;
  flex-direction: column;
  gap: var(--r-xxs);
  overflow-y: scroll;
  box-shadow: var(--box-shadow-btn);
  width: 100%;
}

.entry__container::-webkit-scrollbar {
  display: none;
}

.entry_content_container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  flex: 1;
  overflow-y: auto;
}

.modes-entries-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--r-s);
  padding: var(--gap-s) 0 0 0;
  justify-content: start;
  align-items: center;
}

.modes-entries-container--buttons {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-s);
  padding: var(--gap-s) var(--gap-xxl) var(--gap-s) var(--gap-l);
}

.modal__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: var(--gap-m);

  & .btn {
    box-shadow: var(--box-shadow-btn);
  }
}