.help_section__container {
  grid-area: section2;
  background-color: var(--Color-White);
  border-radius: 0 0 var(--r-xs) var(--r-xs) var(--r-xs);
  padding: var(--gap-m);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--gap-xs);
  overflow: hidden;
  width: 100%;
  border-top: 1px solid var(--Color-grey-100);

  & input {
    margin: 0;
    height: 28px;

    align-self: center;
  }

}

:where(.help_section__container) p {
  color: var(--Color-Principal);
  font-size: var(--text-desktop-small);
}

.account_info {
  padding: 0 var(--gap-s);

  & p {
    margin: var(--gap-xxxs) 0 0 var(--gap-l);
    font-weight: 400;
  }

  & :nth-child(3) {
    margin-top: var(--gap-xs);
  }
}


.help_section_tittle {
  font-size: var(--text-desktop-subtitles-2);
  color: var(--Color-Principal);
}

.help_section__subtitle {
  font-size: var(--text-desktop-lead);
  font-weight: 600;
  color: var(--Color-principal-500);
}

.help_section__lead {
  font-size: var(--text-desktop-body-large);
  color: var(--Color-grey-600);
}

.moves_info {
  overflow-y: scroll;
  padding: 0 var(--gap-s);
  width: 100%;

  overscroll-behavior: contain;

  & p {
    margin: var(--gap-xxxs) 0 0 var(--gap-l);
    font-weight: 400;
  }

  & :nth-child(3) {
    margin-top: var(--gap-xs);
  }
}

.section-one_loader {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--Color-White);
  grid-area: section1;
}

.error-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-l);
}