.user-list__container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: var(--gap-s);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
  border-radius: var(--r-s);
  box-shadow: var(--box-shadow-btn);
  background-color: var(--Color-White);

  & h2 {
    font-size: var(--text-desktop-subtitles-2);
    color: var(--Color-Principal);
  }

}


.user_list {
  background-color: var(--Color-White);
  border-radius: var(--r-xxs);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
  padding: var(--gap-s);
  font-size: var(--text-desktop-tiny);
}

.user-list_item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
  padding: var(--gap-xxs);
  margin-top: var(--gap-xxs);
  background-color: var(--Color-Neutral-White);
  border-radius: var(--r-xxs);
  box-shadow: var(--box-shadow-M3);
}

.user-list_item--header {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
  padding: var(--gap-xxs);
  margin-top: var(--gap-xxs);
  background-color: var(--Color-principal-50);
}

.users_list {
  display: flex;
  gap: var(--gap-s);
}

.user-list_section {
  display: flex;
  justify-content: space-between;
}


.edit-btn,
.delete-btn {
  padding: var(--gap-xxs) var(--gap-xs);
  border-radius: var(--r-xs);
  box-shadow: var(--box-shadow-btn);
}

.delete-btn {
  background-color: var(--Color-red-700);
  color: var(--Color-Neutral-White);
}

.edit-btn {
  background-color: var(--Color-Neutral-Dark);
  color: var(--Color-Neutral-White);
}

.delete-btn:hover {
  background-color: var(--Color-red-600);
  opacity: 0.8;
}

.edit-btn:hover {
  background-color: var(--Color-Neutral-Dark);
  opacity: 0.8;
}

.user-list_pagination {
  text-align: center;

  & span {
    padding: var(--gap-s);
    color: var(--Color-Principal);
  }
}