.home_section {
  padding: var(--gap-l);
  height: 80dvh;
  text-align: center;
}

.buttons_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--gap-xl);
  margin-top: 5rem;

}
