.account__page {
  padding: var(--gap-s);
  width: 100%;
  height: 100%;
  /* Full viewport height */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr;
  /* Dynamic height for form & fixed scroll for list */
  grid-template-areas:
    "title title "
    "form empty "
    "list list ";
  overflow: hidden;
  gap: var(--gap-s);
  /* Prevent full page scrolling */
}

.account__page--header {
  display: flex;
  justify-content: start;
  align-items: center;
  grid-area: title;
  gap: var(--gap-s)
}

/* Button Back */
.account__btnHome {
  padding: var(--gap-xs);
  margin-left: var(--gap-s);
  background-color: #fff;
  color: var(--Color-Principal);
}

/* Page Title */
.account__page--title {
  font-size: var(--text-desktop-body-small);
  font-weight: 500;
  color: var(--Color-Principal);
}

/* Add Account Section */
.account__addAcc {
  grid-area: form;
  height: auto;
  background-color: var(--Color-White);
  border-radius: var(--r-xs);
  box-shadow: var(--box-shadow-btn);
}

/* Account List with Scroll */
.account__listAcc {
  padding: var(--gap-s);
  grid-area: list;
  overflow-y: hidden;
  height: 100%;
  background-color: var(--Color-White);
  border-radius: var(--r-xs);
  box-shadow: var(--box-shadow-btn);
}

/* Fixed Table */
.account__table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  position: relative;
  overflow-y: auto;
}

.account_tbody {
  height: 100%;

  & tbody {
    overflow-y: scroll;
    height: 100%;
  }

}

.account_accList {
  height: 100%;
}



/* Scrollbar Styling */
.account__listAcc::-webkit-scrollbar {
  width: 8px;
}

.account__listAcc::-webkit-scrollbar-thumb {
  background: var(--Color-grey-400);
  border-radius: 10px;
}

.account__listAcc::-webkit-scrollbar-thumb:hover {
  background: var(--Color-grey-600);
}

/* Media query */

@media (max-width: 1024px) {}

@media (max-width: 768px) {
  .account__page {
    display: flex;
    flex-direction: column;
    overflow-y: visible;
  }

  .account__addAcc {
    overflow-y: visible;
    height: auto;
    padding: 0;
  }

  .account__listAcc {
    height: auto;
    overflow-y: visible;
  }

  .account__form {
    width: 100%;
    max-width: none;
    margin: 0;
  }

  .account__header .search-bar--acc {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

}