.accountingPlan__page {
  padding: var(--gap-s);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.1fr 0.8fr 1.2fr;
  grid-template-areas:
    "title title "
    "form preview"
    "list list";
  overflow: hidden;
  gap: var(--gap-s);
}

.accountingPlan__page--header {
  display: flex;
  justify-content: start;
  align-items: center;
  grid-area: title;
  gap: var(--gap-s);
}

/* Bouton retour */
.accountingPlan__btnHome {
  padding: var(--gap-xs);
  margin-left: var(--gap-s);
  background-color: #fff;
  color: var(--Color-Principal);
}

/* Titre de la page */
.accountingPlan__page--title {
  font-size: var(--text-desktop-body-small);
  font-weight: 500;
  color: var(--Color-Principal);
}

/* Formulaire */
.accountingPlan__addPGC {
  grid-area: form;
  padding: var(--gap-s);
  height: auto;
  background-color: var(--Color-White);
  border-radius: var(--gap-xxs);
  box-shadow: var(--box-shadow-btn);
}

/* Liste des PGC avec défilement */
.accountingPlan__listPGC {
  grid-area: list;
  height: auto;
  overflow-y: hidden;
  padding-right: 10px;
  position: relative;
  background-color: var(--Color-White);
  box-shadow: var(--box-shadow-btn);
  border-radius: var(--r-xs);
  display: flex;
  width: 100%;
}

/* Rend le tableau plein écran avec une hauteur max */
.accountingPlan__table {
  width: 100%;
  border-collapse: collapse;
}

/* Fixe l'en-tête du tableau */
.accountingPlan__table thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  /* Assurez-vous que l'en-tête reste visible */
}

.full-width .accountingPlan__input {
  height: 80px;
  resize: none;
}

/* Mobile et tablettes */
/* @media (max-width: 768px) {
  .accountingPlan__page {
    grid-template-rows: 0.1fr 0.4fr 1fr;
  }

  .accountingPlan__listPGC {
    height: auto;
    max-height: 300px;
  }
} */


@media (max-width: 1024px) {

  /* ----- General-Tablet -----*/


}

@media (max-width: 768px) {
  .accountingPlan__header--h2 {
    margin-bottom: 0;
    font-size: var(--text-mobile-subtitles-2);
  }

  .accountingPlan__page {
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    height: auto;
  }

  .accountingPlan__form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);

  }

  .accountingPlan__form--actions {
    margin-top: 0;
  }

  .accountingPlan__form .accountingPlan__form--row {
    flex-direction: column;
    gap: var(--gap-m);
  }

  .accountingPlan__form--row .search-bar--pgc {
    width: 100%;
  }

  .accountingPlan__form--group {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: var(--text-desktop-small);
  }

  .accountingPlan__input {
    font-size: var(--text-desktop-small);

    &::placeholder {
      color: var(--Color-Principal-claro);
      font-size: var(--text-desktop-small);
    }
  }

  .accountingPlan__form--add {
    align-self: flex-start;
  }

  .accountingPlan__table--container {
    justify-content: start;
  }

}