.markList__page {
    padding: var(--gap-m);
    width: 100%;
    height: 91vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "btn title empty"
      "task task task"
      "list list list";
  }

.markList__btnHome {
    margin-left: var(--gap-s);
    width: 120px;
    background-color: #fff;
    color: var(--Color-Principal);
    border: var(--Color-grey-200) 1px solid;
    border-radius: 6px;
    align-self: start;
    grid-area: btn;
  }
  
  .markList__btnHome:hover {
    color: var(--Color-Principal-claro);
    border: var(--Color-Principal-claro) 1px solid;
  }
  
  .markList__page--title {
    font-size: var(--text-desktop-body-small);
    font-weight: 500;
    color: var(--Color-Principal);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: title;
  }

.markList__page--task{
    padding: var(--gap-s);
    font-size: var(--text-desktop-subtitles-2);
    align-self: self-start;
    font-weight: bold;
    grid-area: task;
  }

.markList__page--list{
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    padding: var(--gap-s);
    grid-area: list;

    & .modal__custom {
        width: 50%;
        max-width: 400px;
        text-align: center;
        margin: auto;
        cursor: pointer;
    }
}

.statements__pagination {
  padding-top: var(--gap-m);
  & span {
    padding: var(--gap-s);
    color: var(--Color-Principal);
  }
}
