.task-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--gap-s);
  overflow: hidden;

  & header {
    border-bottom: 1px solid var(--Color-grey-100);
    margin-bottom: var(--gap-s);
  }

}

.task-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-list__items {
  height: 100%;
  overflow-y: auto;
  list-style-type: none;
  padding: 0 var(--gap-xs) 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xs);
}

.task-list__filter-button {
  background: var(--Color-grey-50);
  color: var(--Color-grey-300);
  border: none;
  cursor: pointer;
  font-size: var(--text-desktop-lead);
}

.task-list__filter-button:hover {
  background: var(--Color-Neutral-White);
  color: var(--Color-grey-600);
}

.task-list__filter-button .fi {
  display: flex;
}

.task-list__search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--gap-xxs);
}

.task-list__search-input {
  padding: var(--gap-xxs);
  font-size: var(--text-desktop-small);
  margin-right: var(--gap-xxs);
  width: 200px;
  border: 1px solid var(--Color-grey-100);
  border-radius: var(--r-xxs);
  font-family: inherit;
}

.task-list__search-icon {
  font-size: var(--text-desktop-body-large);
  color: var(--Color-grey-500);
  padding-left: var(--gap-xxs);
}

.task-list__title {
  font-size: var(--text-desktop-subtitles-1);
  margin: var(--gap-xl) 0 var(--gap-m);
}

.task-list__item {
  background-color: var(--Color-White);
  border-radius: var(--r-xs);
  width: 100%;
  max-width: 350px;
  padding: var(--gap-xs) var(--gap-xs);
  border: 1px solid var(--Color-grey-50);
  box-shadow: var(--box-shadow-btn);
}

.task-list__content {
  display: flex;
  align-items: stretch;
  gap: var(--gap-);
}

.task-list__square {
  width: 28px;
  height: 28px;
  padding: var(--gap-xxs);
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Color-grey-50);
  border-radius: var(--r-xs);
}

.task-list__duplicate {
  width: 28px;
  height: 28px;
  padding: var(--gap-xxs);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list__info-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list__square .fi {
  display: flex;
  font-size: medium;
  color: var(--Color-Principal);
}

.task-list__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.task-list__item-title {
  width: 85%;
  font-size: var(--text-desktop-small);
  font-weight: bold;
  margin-bottom: var(--gap-xxs);
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--Color-Principal);

}

.task-list__info-body {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxxs);
}

.task-list__date {
  display: flex;
  gap: var(--gap-xxs);
  align-items: center;
  justify-content: start;
  font-size: var(--text-desktop-small);
  color: var(--Color-grey-700);
  font-weight: 400;

  & .fi {
    display: flex;
    color: var(--Color-Principal);
  }

  & strong {
    font-weight: 600;
    color: var(--Color-Principal);
  }
}

.task-list__pagination {
  text-align: center;
  & span {
    padding: var(--gap-s);
    color: var(--Color-Principal);
  }
}

.task-list__button {
  padding: var(--gap-xxs) var(--gap-s);
  background-color: var(--Color-Neutral-Dark);
  font-size: var(--text-desktop-tiny);
  font-weight: 600;
  color: var(--Color-grey-100);
  border: none;
  border-radius: var(--r-xs);
  cursor: pointer;
  margin-top: var(--gap-xxs);
  box-shadow: var(--box-shadow-btn);
}

.task-list__button:hover {
  background-color: var(--Color-Neutral-Dark);
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .task-list__items {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }

}

@media (max-width: 768px) {

  .task-list__title,
  .task-page__header {
    font-size: var(--text-mobile-subtitles-2);
  }

}