.task-page {
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.75fr 2.25fr;
  grid-template-areas:
    "task-form task-preview"
    "statements-selection statements-selection";
  gap: var(--gap-l);
  padding: var(--gap-l);
}

.task-page__form {
  grid-area: task-form;
  padding: var(--gap-xl);
  border-radius: var(--border-radius);
}

.task-page__form--form {
  padding: 0 var(--gap-l);
}

.task-page__preview {
  grid-area: task-preview;
  padding: var(--gap-m);
  border-radius: var(--border-radius);
  border-left: 1px solid var(--Color-grey-200);
  overflow-y: auto; 
  max-height: 100%;
}

.task-page__preview--content {
  padding: 0 var(--gap-l);
}

.task-page__selection {
  grid-area: statements-selection;
  padding: var(--gap-xl) 40px;
  border-top: 1px solid var(--Color-grey-200);
  border-radius: var(--border-radius);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}

.task-page__selection--content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--gap-l) var(--gap-xl);
  overflow: hidden;
}

.task-page__header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--Color-Neutral-White);
  font-size: var(--text-desktop-subtitles-1);
  font-weight: bold;
  margin-bottom: var(--gap-xl);
}

.task-page__header--h4 {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--Color-Neutral-White);
  font-size: var(--text-desktop-subtitles-2);
  font-weight: bold;
  margin-bottom: var(--gap-xl);
}

.task-page__dates {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-m);
  margin-top: var(--gap-m);
}

.task-page__date {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.task-page__label {
  display: block;
  font-size: var(--text-desktop-tiny);
  margin-bottom: var(--gap-xxxs);
  font-weight: bold;
}

.task-page__label--title {
  font-size: var(--text-desktop-small);
  margin-bottom: var(--gap-xxxs);
  font-weight: bold;
}

.task-page__input {
  width: 100%;
  padding: var(--gap-xs);
  border: 1px solid var(--Color-grey-200);
  border-radius: var(--r-xs);
}

.task-page__input[type="date"],
.task-page__input[type="datetime-local"] {
  font-family: var(--font-family);
  font-size: var(--text-desktop-small);
  color: var(--Color-grey-500);
}

.task-page__button--form {
  padding: var(--gap-xs) var(--gap-s);
  background-color: var(--Color-Neutral-Dark);
  font-size: var(--text-desktop-small);
  color: var(--Color-grey-100);
  border: none;
  border-radius: var(--r-xs);
  cursor: pointer;
  margin-top: var(--gap-m);
}

.task-page__button {
  padding: var(--gap-s) var(--gap-m);
  background-color: var(--Color-primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-top: var(--gap-m);
}

.task-page__button:hover {
  background-color: var(--Color-primary-dark);
}

.task-page__button--remove {
  display: flex;
  align-items: center;
  margin-left: 8px;
  padding: 4px 8px;
  color: var(--Color-grey-400);
  border: none;
  cursor: pointer;
  font-size: var(--text-desktop-small);
  background: none;
  transition: color 0.3s;
}

.task-page__button--remove:hover {
  color: var(--Color-red-400);
}

.task-page__button--remove .trash {
  margin-right: 8px;
  font-size: 1.2rem;
}

.task-page__button--edit {
  padding: var(--gap-s) var(--gap-m);
  background-color: transparent;
  color: var(--Color-grey-400);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.task-page__list {
  overflow-y: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 100%;
  flex: 1;
}

.task-page__list-item {
  padding: var(--gap-s);
  margin-bottom: var(--gap-s);
  border-bottom: 1px solid var(--Color-grey-200);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-s);
  width: 100%;
}

.task-page__statement-container {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  gap: var(--gap-s);
}

.task-page__statement {
  display: block;
  font-size: var(--text-desktop-small);
  width: 100%;
}

.task-page__actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-xs);
}

.task-page__actions label{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  color: var(--Color-grey-600);
  font-size: var(--text-desktop-small);
}

.task-page__actions input[type="checkbox"] {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.task-page__actions span {
  display: inline-block;
}

.task-page__actions button {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  background: none;
  border: none;
  color: var(--Color-grey-400);
  font-size: var(--text-desktop-small);
  cursor: pointer;
}

.task-page__actions button:hover {
  color: var(--Color-primary);
}

.task-page__button-text {
  display: inline-block;
  margin: 0;
}

.task-page__actions i {
  font-size: 1rem;
  color: inherit;
}

.task-page__solutions-viewer {
  margin-top: var(--gap-m);
  padding: var(--gap-s);
  border: 1px solid var(--Color-grey-200);
  border-radius: var(--border-radius);
}

.task-page__dates-container {
  margin-bottom: var(--gap-m);
}

/* Lista de tareas activas */

.task-list {
  padding: 0 var(--gap-l);
}

.task-list__title {
  font-size: var(--text-desktop-subtitles-1);
  margin: var(--gap-xl) 0 var(--gap-m);
}

.task-list__items {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xs);
}

.task-list__item {
  width: 100%;
  max-width: 350px;
  padding: 0 var(--gap-s) var(--gap-xs) var(--gap-s);
  border-bottom: 1px solid var(--Color-grey-50);
}

.task-list__content {
  display: flex;
  align-items: stretch;
  gap: var(--gap-m);
}

.task-list__item-content {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}

.task-list__square {
  margin: var(--gap-s) var(--gap-xxs) var(--gap-s) var(--gap-s);
  flex: 0 0 auto;
  width: 30%;
  max-width: 65px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Color-grey-100);
  border-radius: var(--r-xs); 
}

.task-list__square .fi {
  display: flex;
  transform: rotate(270deg);
  font-size: 1.8em;
  color: var(--Color-grey-300);
}

.task-list__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-start;
}

.task-list__item-title {
  font-size: var(--text-desktop-small);
  font-weight: bold;
  margin-bottom: 4px;
}

.task-list__closing-date {
  font-size: var(--text-desktop-tiny);
  color: var(--Color-grey-500);
  margin-bottom: 4px;
}

.task-list__button {
  padding: var(--gap-xxs) var(--gap-s);
  background-color: var(--Color-Neutral-Dark);
  font-size: var(--text-desktop-tiny);
  font-weight: 600;
  color: var(--Color-grey-100);
  border: none;
  border-radius: var(--r-xs);
  cursor: pointer;
  margin-top: var(--gap-xxs);
}

.task-list__button:hover {
  background-color: var(--Color-Neutral-Dark);
  opacity: 0.7;
}

/* Detalles de la tarea seleccionada */

.task-details {
  padding: var(--gap-l);
}

.task-details__title {
  font-size: var(--text-desktop-medium);
  font-weight: bold;
}

.task-details__date {
  font-size: var(--text-desktop-small);
  color: var(--Color-grey-600);
}

.task-details__statements-title {
  font-size: var(--text-desktop-medium);
  margin-top: var(--gap-m);
}

.task-details__statements {
  list-style-type: none;
  padding: 0;
}

.task-details__statement-item {
  font-size: var(--text-desktop-small);
  margin-bottom: var(--gap-s);
  padding: 8px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  background-color: var(--Color-grey-100);
}

.task-details__delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: var(--text-desktop-small);
}

.task-details__edit-btn {
  padding: var(--gap-s) var(--gap-m);
  background-color: transparent;
  color: var(--Color-grey-400);
  border: 1px solid var(--Color-grey-400);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.task-details__edit-btn:hover {
  background-color: var(--Color-grey-100);
}