:root {
  /*     Colors    */

  --Color-Neutral-Black: #323232;
  --Color-Neutral-White: #FAFAFA;
  --Color-White: #fff;
  --Color-Neutral-Dark: #374957;

  --Color-principal-50: #EBEDEE;
  --Color-principal-100: #C1C7CB;
  --Color-principal-200: #A3ABB2;
  --Color-principal-300: #79858E;
  --Color-principal-400: #5F6D79;
  --Color-principal-500: #374957;
  --Color-principal-600: #32424F;
  --Color-principal-700: #27343E;
  --Color-principal-800: #1E2830;
  --Color-principal-900: #1E2830;

  --Color-grey-50: #F3F3F3;
  --Color-grey-100: #D8D8D8;
  --Color-grey-200: #C6C6C6;
  --Color-grey-300: #ABABAB;
  --Color-grey-400: #9B9B9B;
  --Color-grey-500: #828282;
  --Color-grey-600: #767676;
  --Color-grey-700: #5C5C5C;
  --Color-grey-800: #484848;
  --Color-grey-900: #373737;

  --Color-green-50: #F6FDF8;
  --Color-green-100: #E2FAEB;
  --Color-green-200: #D4F7E1;
  --Color-green-300: #C0F4D3;
  --Color-green-400: #B4F1CA;
  --Color-green-500: #A1EEBD;
  --Color-green-600: #93D9AC;
  --Color-green-700: #72A986;
  --Color-green-800: #598368;
  --Color-green-900: #44644F;

  --Color-blue-50: #F0FBFF;
  --Color-blue-100: #D2F2FF;
  --Color-blue-200: #BCECFF;
  --Color-blue-300: #9DE4FF;
  --Color-blue-400: #8ADEFF;
  --Color-blue-500: #6DD6FF;
  --Color-blue-600: #63C3E8;
  --Color-blue-700: #4D98B5;
  --Color-blue-800: #3C768C;
  --Color-blue-900: #2E5A6B;

  --Color-orange-50: #FFF9F1;
  --Color-orange-100: #FFEBD3;
  --Color-orange-200: #FFE2BE;
  --Color-orange-300: #FFD4A1;
  --Color-orange-400: #FFCC8E;
  --Color-orange-500: #FFBF72;
  --Color-orange-600: #E8AE68;
  --Color-orange-700: #B58851;
  --Color-orange-800: #8C693F;
  --Color-orange-900: #6B5030;

  --Color-red-50: #FFF1EF;
  --Color-red-100: #FFD2CE;
  --Color-red-200: #FFBDB6;
  --Color-red-300: #FF9F95;
  --Color-red-400: #FF8C81;
  --Color-red-500: #FF6F61;
  --Color-red-600: #E86558;
  --Color-red-700: #B54F45;
  --Color-red-800: #8C3D35;
  --Color-red-900: #6B2F29;

  --Color-yellow-50: #FFFEF5;
  --Color-yellow-100: #FFFDE0;
  --Color-yellow-200: #FFFCD1;
  --Color-yellow-300: #FFFABB;
  --Color-yellow-400: #FFF9AE;
  --Color-yellow-500: #FFF89A;
  --Color-yellow-600: #E8E28C;
  --Color-yellow-700: #B5B06D;
  --Color-yellow-800: #8C8855;
  --Color-yellow-900: #6B6841;

  --Color-rose-50: #FFF3F7;
  --Color-rose-100: #FFDBE6;
  --Color-rose-200: #FFC9DA;
  --Color-rose-300: #FFB1C9;
  --Color-rose-400: #FFA1BE;
  --Color-rose-500: #FF8AAE;
  --Color-rose-600: #E87E9E;
  --Color-rose-700: #B5627C;
  --Color-rose-800: #8C4C60;
  --Color-rose-900: #6B3A49;

  --Color-lavender-50: #F7F7FF;
  --Color-lavender-100: #E7E6FF;
  --Color-lavender-200: #DBDAFF;
  --Color-lavender-300: #CBC9FF;
  --Color-lavender-400: #C1BFFF;
  --Color-lavender-500: #B1AFFF;
  --Color-lavender-600: #A19FE8;
  --Color-lavender-700: #7E7CB5;
  --Color-lavender-800: #61608C;
  --Color-lavender-900: #4A4A6B;


  /*     radius    */

  --r-xxs: 4px;
  --r-xs: 8px;
  --r-s: 12px;
  --r-m: 16px;
  --r-l: 20px;
  --r-xl: 24px;
  --r-xxl: 28px;


  /*     gaps margin and padding    */
  --gap-xxxs: 4px;
  --gap-xxs: 8px;
  --gap-xs: 12px;
  --gap-s: 16px;
  --gap-m: 20px;
  --gap-l: 24px;
  --gap-xl: 28px;
  --gap-xxl: 32px;
  --gap-xxxl: 36px;

  /* Font Family and Font Sizes  */
  --font-family: Quicksand, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Desktop */

  --text-desktop-display: 64px;
  --text-desktop-h1: 56px;
  --text-desktop-h2: 48px;
  --text-desktop-h3: 40px;
  --text-desktop-h4: 32px;
  --text-desktop-subtitles-1: 28px;
  --text-desktop-subtitles-2: 24px;
  --text-desktop-lead: 20px;
  --text-desktop-body-large: 18px;
  --text-desktop-body-small: 16px;
  --text-desktop-small: 14px;
  --text-desktop-tiny: 12px;

  /* Mobile and Tablet */

  --text-mobile-display: 36px;
  --text-mobile-h1: 30px;
  --text-mobile-h2: 28px;
  --text-mobile-h3: 26px;
  --text-mobile-h4: 24px;
  --text-mobile-subtitles-1: 22px;
  --text-mobile-subtitles-2: 20px;
  --text-mobile-lead: 18px;
  --text-mobile-body-large: 16px;
  --text-mobile-body-small: 14px;
  --text-mobile-small: 12px;
  --text-mobile-tiny: 11px;

  /* Box shadows */
  --box-shadow-M3: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --box-shadow-btn: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  /* Sub Variables */
  --Color-Principal-claro: var(--Color-principal-300);
  --Color-Principal: var(--Color-principal-500);
  --Color-Principal-oscuro: var(--Color-principal-700);

  --background-color: var(--Color-Neutral-White);
  --background-color-dark: var(--Color-principal-500);

  --Color-letra-claro: var(--Color-grey-100);
  --Color-letra-oscuro: var(--Color-Neutral-Black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--Color-letra-oscuro);
}

h1 {
  font-size: 56px;
  line-height: 120%;
}

h2 {
  font-size: var(--text-desktop-subtitles-1);
  line-height: 120%;
}

h3 {
  font-size: var(--text-desktop-subtitles-2);
  line-height: 120%;
}

h4 {
  font-size: var(--text-desktop-lead);
  line-height: 120%;
}

button {
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
  padding: 12px 24px;
  border-radius: var(--r-m);
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-main {
  padding: 60px 0 0 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.btn {
  font-size: 0.9rem;
  color: var(--Color-letra-claro);
  background: var(--Color-Principal);
  font-weight: 600;
  line-height: 140%;
  border-radius: var(--r-xs);
  display: inline-flex;
  padding: var(--gap-xxs) var(--gap-s);
  gap: var(--gap-xxs);
  align-items: center;
  box-shadow: var(--box-shadow-btn);
  text-transform: capitalize;
  width: auto;
  height: auto;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;

  &>.fi {
    font-size: small;
    display: flex;
  }

  &:hover {
    background-color: var(--Color-Principal-claro);
  }

  &:focus {
    border: 1px solid var(--color-Principal);
  }

  &:active {
    background-color: var(--Color-Principal-oscuro);
    box-shadow: none;
  }

  &:disabled {
    background-color: var(--Color-grey-50);
    box-shadow: none;
    cursor: not-allowed;
  }
}

.red {
  background-color: var(--Color-red-200);
  color: var(--Color-red-800);
}

.orange {
  background-color: var(--Color-orange-200);
  color: var(--Color-orange-800);
}

.green {
  background-color: var(--Color-green-200);
  color: var(--Color-green-800);
}

.grey {
  background-color: var(--Color-grey-200);
  color: var(--Color-grey-800);
}

.btn--l {
  font-size: 1rem;
  padding: var(--gap-xs) var(--gap-l);
  gap: var(--gap-xs);

  &>.fi {
    font-size: medium;
  }
}

.btn--border {
  background: none;
  border: 1px solid var(--Color-Principal);
  color: var(--Color-Principal);

  &:hover {
    border: 1px solid var(--Color-Principal-claro);
    color: var(--Color-Principal-claro);
    background-color: transparent;
  }

  &:focus {
    background: transparent;
    border: 1px solid var(--Color-Principal-claro);
    color: var(--Color-Principal-claro)
  }

  &:active {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid var(--Color-Principal-oscuro);
    color: var(--Color-Principal-oscuro);
  }

  &:disabled {
    background-color: transparent;
    border: 1px solid var(--Color-grey-200);
    color: var(--Color-grey-200);

    box-shadow: none;
    cursor: not-allowed;
  }
}

.light {
  background-color: var(--Color-White);
  color: var(--Color-principal-700);

  &:hover {
    background-color: var(--Color-Neutral-White);
    color: var(--Color-Principal-oscuro);
  }
}

.statement-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-xxs);

  & .statement-button {
    width: 44px;
    height: 44px;
    border-radius: var(--r-xs);
    cursor: pointer;
    box-shadow: var(--box-shadow-btn);
    padding: 0;
  }

  & .statement-button.selected {
    background-color: var(--Color-green-600);
    border: solid 1px var(--Color-green-800);
  }

  & .statement-button.visited {
    background-color: var(--Color-green-300);
  }
}

.error__message {
  color: var(--Color-red-700);
  font-weight: 600;
  background-color: var(--Color-red-50);
  padding: var(--gap-xxs) var(--gap-xs);
  border-radius: var(--r-xxs);
}

body {

  & .tooltip {
    background-color: var(--Color-Principal);
    border-radius: var(--r-xxs);
    color: var(--Color-White);
    font-size: var(--text-desktop-small);
    opacity: 95%;
  }

}

input::placeholder {
  color: var(--Color-grey-200);
}

.search-bar {
  background-color: var(--Color-Neutral-White);
  width: 100%;
  height: 48px;
  border-radius: var(--r-xs);
  display: flex;
  align-items: center;
  padding: 0 var(--gap-s);
  border: solid 2px var(--Color-Principal-claro);

  & .search-bar_search {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
  }

  & .fi {
    color: var(--Color-Principal-claro);
    cursor: pointer;
    display: flex;
  }

  & .fi:hover {
    color: var(--Color-Principal-oscuro);
    cursor: pointer;
  }
}

.backslash-icon {
  display: inline-block;
  width: 10px;
  /* Ancho del icono */
  height: 20px;
  /* Alto del icono */
  position: relative;
}

.backslash-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: var(--Color-orange-800);
  transform: translateX(-50%) rotate(45deg);
  border-radius: 10px;
}

.scroll-style {
  &::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.text-error-feedback {
  width: 100%;
  font-size: var(--text-desktop-body-large);
  color: var(--Color-red-400);
  text-align: center;
}

@media (width > 1025px) {
  .app-main {
    height: 100dvh;
    padding: 70px 0 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
}